<form autocomplete="off" #editFactoryForm="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>{{ "EditFactory" | localize }}</h1>
    <mat-dialog-content>
      <div class="row-fluid">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput name="DepartmentName" [placeholder]="'DepartmentName' | localize"
            [(ngModel)]="factory.name" required minlength="2" maxlength="64" />
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
      <button mat-button type="button" [disabled]="saving" (click)="close(false)">
        {{ "Cancel" | localize }}
      </button>
      <button mat-flat-button type="submit" flex="15" color="primary" [disabled]="!editFactoryForm.form.valid || saving">
        {{ "Save" | localize }}
      </button>
    </div>
  </form>