<form autocomplete="off" #createTenantForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "CreateDepartment" | localize }}</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
        <mat-form-field>
          <input
            matInput
            name="DepartmentName"
            [placeholder]="'DepartmentName' | localize"
            [(ngModel)]="department.name"
            required
            minlength="2"
            maxlength="64"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Factory</mat-label>
          <mat-select [(ngModel)]="department.factory" name="factory">
            <mat-option *ngFor="let factory of factories" [value]="factory">
              {{factory.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!createTenantForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
