<form autocomplete="off" #createTenantForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "CreateStop" | localize }}</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>StopType</mat-label>
          <mat-select [(ngModel)]="stop.stopType" name="StopType" required>
            <mat-option *ngFor="let stopType of stopTypes" [value]="stopType">
              {{stopType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            name="StopName"
            [placeholder]="'StopName' | localize"
            [(ngModel)]="stop.name"
            required
            minlength="2"
            maxlength="64"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            name="Duration"
            [placeholder]="'Duration' | localize"
            [(ngModel)]="stop.duration"
            required
          />
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!createTenantForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
