<form autocomplete="off" #editDeviceGroupForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "EditDeviceGroup" | localize }}</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Factory</mat-label>
          <mat-select [(ngModel)]="selectedFactory" [compareWith]="customCompare" name="factory">
            <mat-option *ngFor="let factory of factories" [value]="factory">
              {{factory.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Department</mat-label>
          <mat-select [(ngModel)]="deviceGroup.department" [compareWith]="customCompare" name="department">
            <mat-option *ngFor="let department of departments | departmentFilterByName: selectedFactory" [value]="department">
              {{department.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="DeviceGroupName" [placeholder]="'DeviceGroupName' | localize"
            [(ngModel)]="deviceGroup.name" required minlength="2" maxlength="64" />
        </mat-form-field>
        <mat-form-field>
          <input matInput name="IpAddress" [placeholder]="'IpAddress' | localize"
            [(ngModel)]="deviceGroup.ipAddress" required minlength="2" maxlength="64" />
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button mat-flat-button type="submit" flex="15" color="primary" [disabled]="!editDeviceGroupForm.form.valid || saving">
      {{ "Save" | localize }}
    </button>
  </div>
</form>