<form autocomplete="off" #createDeviceGroupForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "CreateDevice" | localize }}</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Factory</mat-label>
          <mat-select [(ngModel)]="selectedFactory" name="factory">
            <mat-option *ngFor="let factory of factories" [value]="factory">
              {{factory.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Department</mat-label>
          <mat-select [(ngModel)]="selectedDepartment" name="department">
            <mat-option *ngFor="let department of departments | departmentFilterByName: selectedFactory" [value]="department">
              {{department.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>DeviceGroup</mat-label>
          <mat-select [(ngModel)]="device.deviceGroup" name="deviceGroup">
            <mat-option *ngFor="let deviceGroup of deviceGroups | deviceGroupFilterByName: selectedDepartment" [value]="deviceGroup">
              {{deviceGroup.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            name="DeviceName"
            [placeholder]="'DeviceName' | localize"
            [(ngModel)]="device.name"
            required
            minlength="2"
            maxlength="64"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            name="DeviceNo"
            [placeholder]="'DeviceNo' | localize"
            [(ngModel)]="device.deviceNo"
            required
            minlength="2"
            maxlength="64"
          />
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!createDeviceGroupForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
